*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
   --primary-font:"Inter",sans-serif;
   --primary-color:rgb(4, 65, 199);
}

a{
  text-decoration: none;
  color: inherit;
}
.navbar-div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo{
  width: 4rem;
}
.header-div{
  display: flex;
  justify-content: center;
  align-items: center;

}
.header{
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color)
}
.menu-div li{
  font-family: var(--primary-font);
  list-style: none;
  padding: 0.7rem;
  transition: all 0.5s;
}
.menu-div li:hover{
  font-family: var(--primary-font);
  list-style: none;
  background-color: #e7893c;
  padding: 0.7rem;
  border-radius: 0.7rem;
}
.menu-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.big-home-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem 0 3rem;
  background: #000000;  
background: -webkit-linear-gradient(to right, #0f0f0f, #e7893c,#000000 );  
background: linear-gradient(to right,#2b2b2b, #e7893c,#000000); 


}
.welcome-note{
  font-family: var(--primary-font);
  font-size: 3rem;
  color: white;
  font-weight: 550;
  padding: 1rem;
}
p{color: white;}

.home-right-img{
  width: 50%
}
.justicelogo{
  width: 10rem;
}
.signup-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 3rem 1rem 3rem 1rem;
  width: 25%;
  
}
.big-signup-div{
  background: #F3904F;  
background: -webkit-linear-gradient(to right, #3B4371, #F3904F); 
background: linear-gradient(to right, #3B4371, #F3904F); 
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family: var(--primary-font);
}
input{
  padding:  0.5rem 1.8rem  0.5rem 1.8rem;
  font-size: 1rem;
}

.signup-btn{
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  border-radius: 0.2rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  -webkit-box-shadow: 10px 10px 51px 1px rgba(179,179,179,1);
-moz-box-shadow: 10px 10px 51px 1px rgba(179,179,179,1);
box-shadow: 10px 10px 51px 1px rgba(179,179,179,1);
}
.signup-btn:active{
  padding: 0.6rem 1.3rem 0.6rem 1.3rem;
  background-color: rgb(44, 95, 206);
  transition: all 0.5s;
  color: white;
  border: none;
  -webkit-box-shadow: 10px 10px 51px 1px rgba(179,179,179,1);
-moz-box-shadow: 10px 10px 51px 1px rgba(179,179,179,1);
box-shadow: 10px 10px 51px 1px rgba(179,179,179,1);
}
.signup-header{
  color: #0f0f0f;
  font-family: var(--primary-font);
  font-size: 1.3rem;
}
.admin-login-text{
  color: rgb(0, 60, 255);
  text-decoration: underline;
  margin-top: 2rem;
}
select{
  padding: 0.3rem 1rem 0.3rem 1rem;
  border: none;
  margin-left: 1rem;
}
.option{
  padding: 0.3rem 1rem 0.3rem 1rem;
}
.card{
  padding: 3rem;
  background: #ee0979; 
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  
background: linear-gradient(to right, #ff6a00, #ee0979); 
  margin-top: 5rem;
  width: 15rem;
  border-radius: 1rem;
  text-align: center;
  color: white;
}
.dashboard-div{
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #D3CCE3;
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  
background: linear-gradient(to right, #E9E4F0, #D3CCE3); 

}
.card p{
  font-size: 1.2rem;
  font-family: var(--primary-font);
}
.card-purple p{
  font-size: 1.2rem;
  font-family: var(--primary-font);
}
.card-green p{
  font-size: 1.2rem;
  font-family: var(--primary-font);
}
.card-purple{
  background: #6a3093;  
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093); 
  background: linear-gradient(to right, #a044ff, #6a3093); 
  margin-top: 5rem;
  width: 15rem;
  border-radius: 1rem;
  text-align: center;
  color: white;
  padding: 3rem;
  
}

.card-green{
  background: #ADD100; 
background: -webkit-linear-gradient(to right, #7B920A, #ADD100);  
background: linear-gradient(to right, #7B920A, #ADD100); 
margin-top: 5rem;
width: 15rem;
border-radius: 1rem;
text-align: center;
color: white;
padding: 2.85rem;
}

.card-all:hover{
 transform: translateY(-2%);
 transition: all 0.5s;
 
}
.big-createprofile{
  font-family: var(--primary-font);
  display: flex;
  margin-top:2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  padding: 3rem;
  width: 40%;
  margin-top: 1rem;
  background-color: white;
}
.big-createprofile p{
  color: #0f0f0f;
  text-align: center;


}
.createprofile-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  
}
.case-list-div li{
  list-style: none;
  font-family: var(--primary-font);
  padding: 0.5rem 7rem 0.5rem 7rem;
  border: 0.08rem solid rgb(138, 138, 138);
}
.case-list-div li:hover{
  list-style: none;
  font-family: var(--primary-font);
  padding: 0.5rem 7rem 0.5rem 7rem;
  background-color: rgb(0, 81, 255);
  color: white;
  transition: all 0.6s;
}
.case-list-div h2{
  font-family: var(--primary-font);
  padding: 1rem;
}
.case-list-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
 background-color: white;
 height:29.2rem;
}
.biggest-createprofile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: rgb(0, 0, 126);
  padding: 4rem;
}